


body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("bullish.jpeg");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#corner {
  color: red;
}

h2 {
  font-style:italic;
  font-family: 'Barlow', sans-serif;
  text-align: center
}

a {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  text-align: center
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}